# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/public
/db
/env/*
/modules/devtools
/modules/data-browser

# Logs
/logs/*.log
npm-debug.log*

# Git files
*.orig
