# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/public
/db/*
/.env/*
/lib/*
/modules/*
/config/sslcerts/*
.DS_Store

# Logs
/logs/*.log
npm-debug.log*
yarn-error.log
yarn.lock

# Git files
*.orig
!.gitkeep
